<%- include('header'); %>

<img src="<%=drie%>" alt="" class="detailfoto">


<div class="wrapperinfo">
<p class="imgnaam"> <%-kunst[2].naam%> </p>
<p class="imginfo"> <span>Uitvoerder: </span> <%-kunst[2].uitvoerder%> </p>
<p class="imginfo"> <span>Jaar: </span>  <%-kunst[2].datering%></p>
<p class="imginfo"> <span>Beschrijving: </span> <%-kunst[2].beschrijving%> </p>
<p class="imginfo"> <span>Kunststroming: </span> <%-kunst[2].kunststroming%> </p>
</div>

<%- include('footer'); %>
